<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--css-->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet" /> -->

    <link href="css/cubeportfolio.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href=" https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    <!-- <script src="Js/jquery.min.js"></script> -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnRegister').click(function () {
                $.ajax({
                    url: 'http://localhost:63353/api/Account/Register',
                    method: 'POST',
                    data: {
                        UserName: $('#UserName').val(),
                        PassWord: $('#exampleInputPassword1').val(),
                        ConfirmPassword: $('#ConfirmPassword').val()
                    },
                    success: function () {
                        $("#modal").show()
                    },
                    error: function (jqXHR) {
                        $('#divErrorTxt').text(jqXHR.responseText);
                        $('#divError').show('fade');
                    }
                })

            })

            $('button[data-dismiss="modal"]').click(function () {
                $("#modal").hide('fade');
            })
            $('#linkclose').click(function () {
                $('#divError').hide('fade');
            });
        });
    </script>

</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-expand-sm bg-light">
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="ToDoList.html" id="getAll">Home Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="getAll">Get All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Get All Recurring task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Register.html">Register</a>
                </li>
                <li><a href="Login.html"></a></li>
            </ul>
        </nav>
        <section id="content">


            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <form role="form" class="register-form">
                        <h2>Register</h2>
                        <hr class="colorgraph">
                        <div class="form-group">
                            <input type="text" name="UserName" id="UserName" class="form-control input-lg"
                                   placeholder="UserName" tabindex="4">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" id="exampleInputPassword1"
                                   placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" id="ConfirmPassword"
                                   placeholder="Confirm Password">
                        </div>
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <input type="button" value="Register" class="btn btn-primary btn-block btn-lg"
                                       tabindex="7" id="btnRegister"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <!-- Modal -->
    <div class="modal" tabindex="-1" id="modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You are registered</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save Changes</button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="divError" class="alert alert-danger collapse">
        <a id="linkclose" class="close" href="#">&times;</a>
        <div id="divErrorTxt"></div>
    </div>
</body>
</html>
